<div class="questions-index">
  <div class="create-question-box">
    <div class="question-create">
      <div class="element-within-question-create">
        <%= simple_form_for([@course, @assignment, @question]) do |f| %>
        <div class="input-title">
          <%= f.input :title %>
        </div>
            <%= f.button :submit, class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="forum-container">
    <% columns = [{elements: [], height: 0}, {elements: [], height: 0}, {elements: [], height: 0}] %>
    <% sortedData =  @data.sort_by { |dataHash| [dataHash[:question].upvotes, -dataHash[:answers].size] } %>
    <% sortedData.each_with_index do |dataHash, index| %>
      <% columns[index % 3][:elements] << dataHash %>
      <% columns[index % 3][:height] += (dataHash[:answers].size + 1) %>
    <% end %>
    <div class="forum-column">
      <% columns[0][:elements].each do |element| %>
        <%= render partial: "components/forum_card", locals: {dataHash: element} %>
      <% end %>
    </div>
    <div class="forum-column">
      <% columns[1][:elements].each do |element| %>
        <%= render partial: "components/forum_card", locals: {dataHash: element} %>
      <% end %>
    </div>
    <div class="forum-column">
      <% columns[2][:elements].each do |element| %>
        <%= render partial: "components/forum_card", locals: {dataHash: element} %>
      <% end %>
    </div>
  </div>
  <p>text</p>
</div>
