<div class="forum-card">
  <div class="question">
    <div class="question-text">
      <div class="question-header d-flex justify-content-between">
        <p><%= dataHash[:question].user.firstName %> <%= dataHash[:question].user.lastName %></p>
      </div>
      <div class="question-body">
        <h3><%= dataHash[:question].title %></h3>
      </div>
      <div class="big-box">
        <div class="question-footer">
          <p><%= dataHash[:question].created_at.strftime("%a %d - %H:%M") %></p>
        </div>
        <div class="vote">
          <div data-controller="upvote" class="vote-container">
          <%= link_to upvote_course_assignment_question_path(@course, @assignment, dataHash[:question]), data: {'turbo-method': :patch} do %>
            <i class="fa-regular fa-thumbs-up vote-item <%= current_user.voted_up_on?(dataHash[:question]) ? "voted" : "default" %>"></i>
          <% end %>
            <p><%= number_to_human(dataHash[:question].get_upvotes.size - dataHash[:question].get_downvotes.size) %></p>
          <%= link_to downvote_course_assignment_question_path(@course, @assignment, dataHash[:question]), data: {'turbo-method': :patch} do %>
              <i class="fa-regular fa-thumbs-down vote-item <%= current_user.voted_down_on?(dataHash[:question]) ? "downvoted" : "default" %>"></i>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="answers">
    <h4><%= pluralize(dataHash[:answers].count, "Answer") %></h2>
    <% dataHash[:answers].each do |answer| %>
      <div class="answer">
        <div class="answer-header d-flex justify-content-between">
          <p><%= answer.user.firstName + answer.user.lastName %></p>
          <p>^ <%= answer.upvotes %></p>
        </div>
        <div class="answer-body">
          <p><%= answer.content %></p>
          <div class="answer-date">
            <p><%= answer.created_at.strftime("%b %e, %l:%M %p") %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container-write-an-answer" style="width: 100%;">
    <div class="answer-header-form d-flex justify-content-between">
      <%= simple_form_for ([@course, @assignment, dataHash[:question], @answer]) do |f| %>
        <div class="bottom-answer-box">
          <div class="row-form-group">
            <div class="form-group col-md-6">
              <%= f.input :content, as: :text, input_html: {rows: 3 } %>
            </div>
          </div>
          <div class="btn-centered">
             <%= f.submit class:"btn btn-flat"%>
           </div>
         <% end %>
        </div>
    </div>
  </div>
</div>
