<div id="simple-form-new-assignment">
<div class="container-edit-assignment">
  <h1 id="header-simple-form">Edit the Assignment</h1>
  <br>
    <%= simple_form_for [@course, @assignment] do |f| %>
    <div class="row">
      <div class="form-group col-md-6">
        <%= f.input :due_date , as: :date, html5: :true, input_html: {class: "datepicker"} %>
      </div>
      <div class="form-group col-md-6">
        <%= f.input :title %>
      </div>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= link_to course_assignment_path(@course, @assignment) do %>
      <input type="submit" value="Update value">
      <% end %>
    <% end %>
  </div>
</div>
