<div id="simple-form-new-assignment">
  <div class="container-edit-assignment">
    <h1 id="header-simple-form">Edit the Assignment</h1>
    <br>
    <%= simple_form_for [@course, @assignment] do |f| %>
      <div class="form-group col-md-12">
        <%= f.input :title, required: false, label: "Assignment Title" %>
      </div>
      <div class="form-group col-md-12">
        <%= f.input :due_date , as: :date, required: false, html5: :true, input_html: {class: "datepicker"} %>
      </div>
      <%= f.input :photos, as: :file, label: "Photos", input_html: { multiple: true } %>
      <%= f.submit class:"btn submit-btn"%>
    <% end %>
  </div>
</div>
