<div class="container-assignment-top" data-controller="user-progress">
  <%= render partial: "popups/difficulty_popup", locals: {user_assignment: @current_user_assignment} %>
  <div class="container-difficulty-title-pdf" id="difficulty-title-pdf">
    <div class="container-title-difficulty-due-date d-flex justify-content-between align-items-center" id="title-difficulty-due-date">
      <div class="container-title-difficulty" id="title-difficulty">
        <h2><%= @assignment.title %></h2>
        <h6><strong></strong><%= @assignment.due_date.strftime("%A, %d %b %Y %l:%M %p") %></h6>
      </div>
      <div class="d-flex">
        <div class="hand-in-button" data-action="click->user-progress#completed">
          <h5>Hand-in</h5>
        </div>
        <%= render partial: "components/difficulty", locals: { difficulty: @difficulty } %></div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="btn-edit">
        <%= link_to "Edit",  edit_course_assignment_path(params[:course_id], params[:id]), class: "btn btn-flat" %>
      </div>
    </div>
    <div id="pdf-container">
      <% if @assignment.photos.size == 1 %>
        <img class="d-block w-100 one-image" src="<%= cl_image_path @assignment.photos.first.key %>" alt="photo" >
      <% elsif @assignment.photos.size > 1 %>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <% @assignment.photos.size.times do |i| %>
              <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %>" class="<%= "active" if i.zero? %>"></li>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>" class="<%= i == 0 ? "active" : "" %>" aria-current="true" aria-label=""></button>
            <% end %>
          </div>
          <div class="carousel-inner">
            <% @assignment.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= index == 0 ? "active" : "" %>">
                <img class="d-block w-100" src="<%= cl_image_path photo.key %>" alt="<%= index.ordinalize %> image">
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <% end %>
    </div>
  </div>
  <div id="classmate-progress">
    <h3>User progress</h3>
    <i class="fa-solid fa-user-tie-hair"></i>
    <%# <div class="user-avatar-name profile-current-user">
      <div class="profile-left">
        <div class="profiles">
          <%= render "shared/avatar", user: @current_user_assignment.user %>
    <%# </div>
        <div class="user-name">
          <strong>Me</strong>
        </div>
      </div>
      <div>
        <%= render partial: "components/user_progress", locals: { user_progress: @current_user_assignment&.user_progress } %>
    <%# </div> %>
    <%# </div> %>
    <div class="user-avatar-name">
      <div class="profile-left">
        <div class="profiles">
          <%= render "shared/avatar", user: @current_user_assignment.user %>
        </div>
        <div class="user-name">
          <strong>Me</strong>
        </div>
      </div>
      <div>
        <%= render partial: "components/user_progress", locals: { user_progress: @current_user_assignment&.user_progress } %>
      </div>
    </div>
    <div class="seperator"></div>
    <% @user_assignments.each do |user_assignment| %>
      <div class="user-avatar-name">
        <div class="profile-left">
          <div class="profiles">
            <%= render "shared/avatar", user: user_assignment.user %>
          </div>
          <div class="user-name">
            <%= user_assignment.user.firstName %> <%= user_assignment.user.lastName %>
          </div>
        </div>
        <div>
          <%= render partial: "components/user_progress", locals: { user_progress: user_assignment&.user_progress } %>
        </div>
      </div>
    <% end %>
    <div class="container-forum" id="forum-button">
      <%= link_to "Forum", course_assignment_questions_path(params[:course_id], params[:id]), class: "btn btn-outline-light" %>
    </div>
  </div>
</div>
