

<div class="container-study-sessions">
  <h1>Scheduled Study Sessions</h1>
    <% @study_sessions.each do |study_session| %>
        <div class="study-session">
          <div class="title-study-session">
            <h3><%= study_session.title %></h3>
          </div>
            <h5> <strong><%= study_session.assignment.course.name %></strong> - <em><%= study_session.assignment.title %></em></h5>
              <p>Duration: <em> <%= pluralize(study_session.duration_hours.count, 'Hour') %> <p> & </p><%= study_session.duration_minutes%>minutes</em></p>
          <div style="d-flex">
          </div>
        </div>
    <% end %>
</div>








<%# pluralize hours and minutes %>


  <%# <%= if study_session.exist? %>
  <%# <%= else %>
  <%# <h1> You dont have any Scheduled Meetings </h1> %>
