<div class="container-course-show">
  <div class="course-show-left">
    <div class="course-title-container">
      <h1><%= @course.name %></h1>
      <em>
        <h4><%= @course.code %></h2>
      </em>
    </div>
    <div class="assignments">
      <h1>Due Assignments: </h1>
      <% @due_assignments.each do |assignment| %>
        <%= render partial: "components/assignment_card", locals: { assignment: assignment } %>
      <% end %>
    </div>
    <div class="assignments">
      <h1>Past Assignments: </h1>
      <% @past_assignments.each do |assignment| %>
        <%= render partial: "components/assignment_card", locals: { assignment: assignment } %>
      <% end %>
    </div>
    <div id="back-to-courses-btn">
      <%= link_to "Back to all Courses", courses_path(@courses), class: 'btn btn-outline-primary' %>
    </div>
  </div>
  <div class="course-show-right">
    <div class="container-calendar">
      <div class="calendar">
        <%= render partial: "components/calendar", locals: { assignments: current_user.assignments } %>
      </div>
    </div>
    <div class="container-useful-resources">
      <h1>Useful Resources</h1>
      <div >
        <%# after the migration, use each to list each resource %>
      </div>
    </div>
  </div>
</div>
