<h1>Course: <%= @course.name %></h1>
<h2>Course Name: <%= @course.code %></h2>

<br>
<br>
  <h1>Due Assignments: </h1>
 <%= link_to "Courses", courses_path(@courses), class: 'btn btn-outline-primary' %>

    <% @assignments.each do |assignment| %>
          <div class="booking-box">
            <h5>From: <%= assignment.title %></h5>
            <h5>To: <%= assignment.due_date %></h5>
          </div>
    <% end %>
