<div class="container-course-show">
  <div class="course-show-left">
    <div class="course-title-container">
      <div>
        <h1><%= @course.name %></h1>
        <em>
          <h4><%= @course.code %></h2>
        </em>
        <h5 id="share-code">Share code: <%= @course.shareCode %></h5>
      </div>
      <%= link_to icon('fa-solid', 'circle-plus fa-4x'), new_course_assignment_path(@course), class: "btn btn-flats" %>
    </div>
    <div class="assignments">
      <h1>Due Assignments: </h1>
      <% unless @due_assignments.empty? %>
        <% @due_assignments.each do |assignment| %>
          <%= render partial: "components/assignment_card", locals: { assignment: assignment } %>
        <% end %>
      <% end %>
    </div>
    <div class="add-btn">
      <div id="assignment-new-button">
      </div>
    </div>
    <div class="assignments">
      <h1>Past Assignments: </h1>
      <% unless @past_assignments.empty? %>
        <% @past_assignments.each do |assignment| %>
          <%= render partial: "components/assignment_card", locals: { assignment: assignment } %>
        <% end %>
      <% end %>
    </div>
    <div id="back-to-courses-btn">
      <%= link_to "Back to all Courses", courses_path(@courses), class: 'btn btn-outline-primary' %>
    </div>
  </div>
  <div class="course-show-right">
    <div class="container-calendar">
      <div class="calendar">
        <%= render partial: "components/calendar", locals: { assignments: current_user.assignments, meetings: @meetings } %>
      </div>
    </div>
    <div class="container-useful-resources">
      <h1>Useful Resources</h1>
    </div>
    <%= render partial: "components/useful_links"%>
  </div>
</div>
