<!DOCTYPE html>
<html>
  <head>
    <title>Studyflow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNRF726f-EsPPjMp1oe8K0ELgRXWPKvk4jLILLu52A1d1n-Yibg8tn6yUicVOzJ8wRAL8&usqp=CAU">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="body-container"><%= yield %></div>
  </body>
</html>
